@charset "utf-8";

.dashboard-header {
  color: var(--background);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  top: 100px;
  left: 300px;
}

.tab-container {
  left: 250px;
  top: 100px;
  position: absolute;
  display: block;
}
