@charset "utf-8";
:root {
  --font1: "Times New Roman", Times, serif;
  --background: #292841;
  --itemColor: #f5f5f5;
  --placeholderColor: #e6e4e4;
  --itemHoverColor: #ff9900;
  --itemBackground: #ffffff;
  --textColor: #888888;
  --listHoverColor: #dfdfec;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100px;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 100%;
}

header {
  font-family: var(--font1);
}

header .top {
  width: 100%;
  height: 10px;
  background-color: var(--background);
}

.menu .container {
  width: 100%;
  height: auto;
}

.menu .container .topNavbar {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: var(--background);
}

.topNavbar > .logoArea {
  position: absolute;
  z-index: 2;
}

.topNavbar > ul {
  float: right;
  position: relative;
  z-index: 2;
}

.topNavbar > ul > li {
  display: inline-block;
}

.topNavbar > ul > li > a {
  display: inline;
}

.topNavbar > ul > li > a,
.topNavbar > ul > li > a > i,
.topNavbar > ul > li > a > span {
  color: var(--itemColor);
  font-weight: bold;
}

.topNavbar > ul > li > a.message,
.topNavbar > ul > li > a.bell,
.topNavbar > ul > li > a.user {
  z-index: 3;
}

.topNavbar > ul > li > a.message:hover > i,
.topNavbar > ul > li > a.bell:hover > i,
.topNavbar > ul > li > a.user:hover > i,
.topNavbar > ul > li > a.user:hover > span {
  color: var(--itemHoverColor);
  z-index: 4;
  cursor: pointer;
}

.topNavbar > ul > li > a.bell > span {
  margin-right: 0;
  position: absolute;
}

.topNavbar > ul > li > a.bell > span > span {
  position: relative;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  background-color: var(--itemHoverColor);
  color: var(--itemColor);
}

.topNavbar > ul > li > a.line,
.topNavbar > ul > li > a.user > span.username,
.topNavbar > ul > li > a.user > span.arrowdown > i {
  position: relative;
}

.topNavbar > ul > li.list > .dropdown,
.topNavbar > ul > li.list1 > .dropdown1 {
  display: none;
}

.topNavbar > ul > li.list:hover > .dropdown,
.topNavbar > ul > li.list1:hover > .dropdown1 {
  display: block;
}

.topNavbar > ul > li.list:hover > .dropdown,
.topNavbar > ul > li.list1:hover > .dropdown1 {
  display: block;
  position: absolute;
  transition: all 250ms;
  border-radius: 0.25rem; /* 4px */
  background-color: var(--itemBackground);
  box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem #d8d8d8; /*2px*/
}

.topNavbar > ul > li.list:hover > .dropdown::before,
.topNavbar > ul > li.list1:hover > .dropdown1::before {
  content: "";
  border: 0.5rem solid transparent; /* 8px*/
  border-bottom-color: #e8e8e8;
  top: -1rem; /*-16px*/
  position: absolute;
}

.topNavbar > ul > li.list:hover > .dropdown > ul > li:nth-child(1),
.topNavbar > ul > li.list:hover > .dropdown > ul > li:nth-child(2) {
  border-bottom: 0.063rem solid var(--textColor); /*1px*/
}

.topNavbar > ul > li.list:hover > .dropdown > ul > li > a > span.bold {
  font-weight: 800;
  color: var(--background);
}

.topNavbar > ul > li.list:hover > .dropdown > ul > li > a > span.text {
  color: var(--textColor);
}

.topNavbar > ul > li.list:hover > .dropdown > ul > li > a > span.link {
  border-bottom: none;
  display: block;
  text-align: center;
  color: var(--background);
  font-weight: 800;
  line-height: 2;
}

.topNavbar > ul > li.list:hover > .dropdown > ul > li:hover {
  background-color: var(--listHoverColor);
  border-radius: 0.5rem; /*8px*/
  border-bottom: none;
  color: var(--itemColor);
}

.topNavbar > ul > li.list:hover > .dropdown > ul > li:hover > a > span.bold,
.topNavbar > ul > li.list:hover > .dropdown > ul > li:hover > a > span.text,
.topNavbar > ul > li.list:hover > .dropdown > ul > li:hover > a > span.link {
  color: var(--background);
}

.topNavbar > ul > li.list1:hover > .dropdown1 > ul > li > a > span {
  color: var(--textColor);
  font-weight: 700;
}

.topNavbar > ul > li.list1:hover > .dropdown1 > ul > li:hover {
  background-color: var(--listHoverColor);
  border-radius: 0.375rem; /* 6px*/
}

.topNavbar > ul > li.list1:hover > .dropdown1 > ul > li:hover a > span {
  color: var(--background);
}

/* searchArea */
.searchArea .search form {
  position: absolute;
  z-index: 3;
}

.searchArea .search form i.searchIcon {
  color: var(--itemColor);
}

.searchArea .search input[type="text"] {
  background-color: transparent;
  border-bottom: 2px solid var(--listHoverColor);
}

.searchArea .search input[type="text"]:focus {
  outline: none;
}

.searchArea .search input[placeholder] {
  color: var(--itemColor);
}

.searchArea .search form button.close-icon {
  background-color: transparent;
}
.searchArea .search form button.close-icon:focus {
  outline: none;
}
.searchArea .search form button.close-icon span.closeIcon:after {
  display: inline-block;
  outline: none;
  content: "X";
  margin: auto;
  text-align: center;
  vertical-align: middle;
  color: var(--background);
  font-weight: 800;
  border-radius: 50%;
  background-color: var(--itemColor);
  z-index: 3;
  position: relative;
  cursor: pointer;
  visibility: visible;
}

.search-box:not(:valid) ~ .close-icon {
  display: none;
}

.searchArea .search input::-webkit-input-placeholder {
  color: var(--placeholderColor);
}

.searchArea .search input::-moz-input-placeholder {
  color: var(--placeholderColor);
}

.searchArea .search input::-ms-input-placeholder {
  color: var(--placeholderColor);
}

.searchArea .search input::-moz-placeholder {
  color: var(--placeholderColor);
}

.leftMenu {
  position: absolute;
  left: 0;
  top: 70px;
  background-color: var(--background);
  width: 200px;
  height: 100%;
}

.leftMenu ul {
  margin-top: 40px;
  margin-left: 20px;
}

.leftMenu ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 32px;
  width: 200px;
  transform: translateX(-20px);
  background-color: #43425d;
}

.leftMenu ul li:hover {
  cursor: pointer;
  transition: background-color 2s ease;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.leftMenu ul li a {
  font-weight: 800;
  margin-left: 20px;
  color: var(--itemColor);
}

.leftMenu ul li.active {
  background-color: var(--background);
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  border-left: 8px solid rgba(0, 0, 0, 0.1);
  width: 200px;
  transform: translateX(-20px);
}

.leftMenu ul li.active a {
  margin-left: 20px;
}

.leftMenu ul li a i {
  font-size: 22px;
}

.leftMenu ul li a span {
  font-size: 16px;
}
