@charset "utf-8";
:root {
  --font1: "Times New Roman", Times, serif;
  --background: #292841;
  --itemColor: #f5f5f5;
  --placeholderColor: #e6e4e4;
  --itemHoverColor: #ff9900;
  --itemBackground: #ffffff;
  --textColor: #888888;
  --listHoverColor: #dfdfec;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100px;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 100%;
}

header {
  font-family: var(--font1);
}

header .top {
  width: 100%;
  height: 10px;
  background-color: var(--background);
}

.menu .container {
  width: 100%;
  height: auto;
}

.menu .container .topNavbar {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: var(--background);
}

.topNavbar > .logoArea {
  position: absolute;
  z-index: 2;
}

.topNavbar > ul {
  float: right;
  position: relative;
  z-index: 2;
}

.topNavbar > ul > li {
  display: inline-block;
}

.topNavbar > ul > li > a {
  display: inline;
}

.topNavbar > ul > li > a,
.topNavbar > ul > li > a > i,
.topNavbar > ul > li > a > span {
  color: var(--itemColor);
  font-weight: bold;
}

.topNavbar > ul > li > a.message,
.topNavbar > ul > li > a.bell,
.topNavbar > ul > li > a.user {
  z-index: 3;
}

.topNavbar > ul > li > a.message:hover > i,
.topNavbar > ul > li > a.bell:hover > i,
.topNavbar > ul > li > a.user:hover > i,
.topNavbar > ul > li > a.user:hover > span {
  color: var(--itemHoverColor);
  z-index: 4;
  cursor: pointer;
}

.topNavbar > ul > li > a.bell > span {
  margin-right: 0;
  position: absolute;
}

.topNavbar > ul > li > a.bell > span > span {
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-color: var(--itemHoverColor);
  color: var(--itemColor);
}

.topNavbar > ul > li > a.line,
.topNavbar > ul > li > a.user > span.username,
.topNavbar > ul > li > a.user > span.arrowdown > i {
  position: relative;
}

.topNavbar > ul > li.list > .dropdown,
.topNavbar > ul > li.list1 > .dropdown1 {
  display: none;
}

.topNavbar > ul > li.list:hover > .dropdown,
.topNavbar > ul > li.list1:hover > .dropdown1 {
  display: block;
}

.topNavbar > ul > li.list:hover > .dropdown,
.topNavbar > ul > li.list1:hover > .dropdown1 {
  display: block;
  position: absolute;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  -o-transition: all 250ms;
  -ms-transition: all 250ms;
  transition: all 250ms;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--itemBackground);
  -webkit-box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem #d8d8d8;
  -moz-box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem #d8d8d8;
  -o-box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem #d8d8d8;
  -ms-box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem #d8d8d8;
  box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem #d8d8d8;
}

.topNavbar > ul > li.list:hover > .dropdown::before,
.topNavbar > ul > li.list1:hover > .dropdown1::before {
  content: "";
  border: 0.5rem solid transparent;
  border-bottom-color: #e8e8e8;
  top: -1rem;
  position: absolute;
}

.topNavbar > ul > li.list:hover > .dropdown > ul > li:nth-child(1),
.topNavbar > ul > li.list:hover > .dropdown > ul > li:nth-child(2) {
  border-bottom: 0.063rem solid var(--textColor);
}

.topNavbar > ul > li.list:hover > .dropdown > ul > li > a > span.bold {
  font-weight: 800;
  color: var(--background);
}

.topNavbar > ul > li.list:hover > .dropdown > ul > li > a > span.text {
  color: var(--textColor);
}

.topNavbar > ul > li.list:hover > .dropdown > ul > li > a > span.link {
  border-bottom: none;
  display: block;
  text-align: center;
  color: var(--background);
  font-weight: 800;
  line-height: 2;
}

.topNavbar > ul > li.list:hover > .dropdown > ul > li:hover {
  background-color: var(--listHoverColor);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  border-radius: 0.5rem;
  border-bottom: none;
  color: var(--itemColor);
}

.topNavbar > ul > li.list:hover > .dropdown > ul > li:hover > a > span.bold,
.topNavbar > ul > li.list:hover > .dropdown > ul > li:hover > a > span.text,
.topNavbar > ul > li.list:hover > .dropdown > ul > li:hover > a > span.link {
  color: var(--background);
}

.topNavbar > ul > li.list1:hover > .dropdown1 > ul > li > a > span {
  color: var(--textColor);
  font-weight: 700;
}

.topNavbar > ul > li.list1:hover > .dropdown1 > ul > li:hover {
  background-color: var(--listHoverColor);
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  border-radius: 0.375rem;
}

.topNavbar > ul > li.list1:hover > .dropdown1 > ul > li:hover a > span {
  color: var(--background);
}

.searchArea .search form {
  position: absolute;
  z-index: 3;
}

.searchArea .search form i.searchIcon {
  color: var(--itemColor);
}

.searchArea .search input[type="text"] {
  background-color: transparent;
  border-bottom: 2px solid var(--listHoverColor);
}

.searchArea .search input[type="text"]:focus {
  outline: none;
}

.searchArea .search input[placeholder] {
  color: var(--itemColor);
}

.searchArea .search form button.close-icon {
  background-color: transparent;
}
.searchArea .search form button.close-icon:focus {
  outline: none;
}
.searchArea .search form button.close-icon span.closeIcon:after {
  display: inline-block;
  outline: none;
  content: "X";
  margin: auto;
  text-align: center;
  vertical-align: middle;
  color: var(--background);
  font-weight: 800;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-color: var(--itemColor);
  z-index: 3;
  position: relative;
  cursor: pointer;
  visibility: visible;
}

.search-box:not(:valid) ~ .close-icon {
  display: none;
}

.searchArea .search input::-webkit-input-placeholder {
  color: var(--placeholderColor);
}

.searchArea .search input::-moz-input-placeholder {
  color: var(--placeholderColor);
}

.searchArea .search input::-ms-input-placeholder {
  color: var(--placeholderColor);
}

.searchArea .search input::-moz-placeholder {
  color: var(--placeholderColor);
}

.leftMenu,
.leftMenuResponsive {
  overflow-x: hidden;
  overflow-y: auto;
  top: 70px;
  position: absolute;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: var(--background);
}

.leftMenuResponsive {
  -webkit-transform: translateX(-250px);
  -moz-transform: translateX(-250px);
  -o-transform: translateX(-250px);
  -ms-transform: translateX(-250px);
  transform: translateX(-250px);
  -webkit-transition: transform 250ms ease-in-out;
  -moz-transition: transform 250ms ease-in-out;
  -o-transition: transform 250ms ease-in-out;
  -ms-transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
}

.leftMenu ul,
.leftMenuResponsive ul {
  margin: 40px 0 0 20px;
}

.leftMenu ul li,
.leftMenuResponsive ul li {
  padding: 10px 0 10px 0;
  margin: 32px 0 0 0;
  width: 200px;
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  -o-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  transform: translateX(-20px);
  background-color: #43425d;
}

.leftMenu ul li:hover,
.leftMenuResponsive ul li:hover {
  cursor: pointer;
  -webkit-transition: background-color 2s ease;
  -moz-transition: background-color 2s ease;
  -o-transition: background-color 2s ease;
  -ms-transition: background-color 2s ease;
  transition: background-color 2s ease;
  background-image: -webkit-linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background-image: -moz-linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background-image: -o-linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background-image: -ms-linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.leftMenu ul li a,
.leftMenuResponsive ul li a {
  font-weight: 800;
  margin: 0 0 0 20px;
  color: var(--itemColor);
}

.leftMenu ul li.active,
.leftMenuResponsive ul li.active {
  background-color: var(--background);
  background-image: -webkit-linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background-image: -moz-linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background-image: -o-linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background-image: -ms-linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  border-left: 8px solid rgba(0, 0, 0, 0.1);
  width: 200px;
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  -o-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  transform: translateX(-20px);
}

.leftMenu ul li.active a,
.leftMenuResponsive ul li.active a {
  margin-left: 20px;
}

.leftMenu ul li a i {
  font-size: 22px;
}

.leftMenu ul li a span {
  font-size: 16px;
}

input[type="checkbox"]:checked ~ .leftMenuResponsive {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

input[type="checkbox"] {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}

.sidebarToggle {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  background-color: var(--background);
}

.sliding {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: var(--itemColor);
}

.flat {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.cross.rectangle1 {
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.cross.rectangle2 {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

input[type="checkbox"]:checked ~ .sidebarToggle > .flat {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}

input[type="checkbox"]:checked ~ .sidebarToggle > .cross.rectangle1 {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  box-sizing: border-box;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type="checkbox"]:checked ~ .sidebarToggle > .cross.rectangle2 {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  box-sizing: border-box;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(-135deg);
  margin-top: -9px;
}
